.form_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f87605;
    padding: 50px;
}

.select_option {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: 0;
    cursor: pointer;
}

.form_input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 250px;
    outline: 0;
}

.btn {
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: aqua;
    cursor: pointer;
}

p {
    font-size: 20px;
}